  <header>
    <!-- <div id="topbarnav" class="row"></div> -->
    <div class="text-center callout large">
          
      {% if page.url == "/" %}
      <h1>{{ site.title }}</h1>
        {% if page.subtitle %}
          <h3 class="post-subtitle subheader">{{ site.description }}</h3>    
        {% endif %}
      {% else %}
      <h4 class="subheader"><a href="/">{{ site.title }}</a></h4>   
      <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
          <h3 class="post-subtitle subheader">{{ page.subtitle }}</h3>    
        {% endif %}    
      {% endif %}
    </div>
  </header>